<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="page-list1" class="ListItem">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="page-list-item10">
        <img src="img/2d6xlaIzQ8OWlsWQZbkb_person.jpg">
        <h2assertive>Miren Fernandez
          <p>666555444</p>
          <i class="icon ion-android-contacts icon-accessory"></i>
        </h2assertive>
      </ion-item>
      <ion-item id="page-list-item4">7 urte</ion-item>
      <ion-item id="page-list-item5">Gasteiz (Araba)</ion-item>
      <label class="item item-select" id="page-select1" name="cBoxAukeratu">
        <span class="input-label">Aukeratu</span>
        <select>
          <option>Ikaslea</option>
          <option>Langilea</option>
          <option>Langabetua</option>
        </select>
      </label>
      <label class="item item-input" id="page-textarea1">
        <span class="input-label">Nota gehigarriak</span><textarea placeholder=""></textarea></label>
    </ion-list>
  </ion-content>
</ion-view>