<ion-header>
  <ion-toolbar>
    <ion-title>
      EMOZIOEN TAULA
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content forceOverscroll="false">
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12">
        <ion-item>
          <ion-label position="fixed">Emozioa:</ion-label>
          <ion-input [(ngModel)]="todo.value"></ion-input>
        </ion-item>
      </ion-col>
 
      <ion-col size="12">
        <ion-item>
          <ion-label>Taldea:</ion-label>
          <ion-select [(ngModel)]="selectedQuadrant">
            <ion-select-option value="q1">Positiboak</ion-select-option>
            <ion-select-option value="q2">Negatiboak</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
 
    </ion-row>
 
    <ion-button expand="block" fill="outline" (click)="addTodo()">
      <ion-icon name="add" slot="start"></ion-icon>
      GEHITU
    </ion-button>
 
    <ion-row no-padding class="matrix">
      <ion-col size="6" class="q1">
        <div class="q-header">Positiboak</div>
        <ion-list dragula="bag" [(dragulaModel)]="q1" lines="none">
          <ion-item *ngFor="let item of q1" [color]="item.color" expand="block" text-wrap>
            {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-col>
 
      <ion-col size="6" class="q2">
        <div class="q-header">Negatiboak</div>
        <ion-list dragula="bag" [(dragulaModel)]="q2" lines="none">
          <ion-item *ngFor="let item of q2" [color]="item.color" expand="block" text-wrap>
            {{ item.value }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-row class="delete-area" align-items-center justify-content-center>
    <ion-icon name="trash" color="medium"></ion-icon>
  </ion-row>
</ion-content>